@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --fonte: "Poppins", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte)
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    margin-top: 20px; 
}


.coracao {
    position: absolute; 
    top: 0; 
    left: -1.5%; 
    margin: 0; 
    padding: 0; 
}

.coracao-img {
    width: 100px; 
}

.logo-img {
    width: 13em;
}    

.nav-list {
    display: flex;
    list-style: none;
    padding-left: 200px; 
}

.nav-item {
    margin: 0 25px; 
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 600; /* Poppins SemiBold */
    font-size: 16px;
    position: relative;
}

.nav-link:hover {
    color: #e70d67;
}

.nav-link.active::after {
    content: "";
    height: 2px;
    width: 150%; 
    background-color: #E70D67;
    position: absolute; 
    bottom: -5px; 
    left: -25%; 
}

.nav-link.active:hover::after {
    width: 150%; 
    transition: width 0.3s ease;
}

.profile {
    position: relative; 
    display: inline-block; 
}

#profileButton {
    display: flex;
    align-items: center;
    gap: 15px; 
    background: #4B477A;
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 50px 5px 5px; 
    border-radius: 50px; 
    cursor: pointer;
}

#profileButton:hover {
    background: linear-gradient(to right, #4B477A, #4d5487); 
}

.profile-dropdown {
    display: none; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100px;
}

.profile-dropdown.show {
    display: block;
}

.perfil-lista {
    list-style: none; 
    font-weight: 400;
    text-align: center;
}

.profile-dropdown .perfil-lista:last-child {
    border-bottom: none; 
}

.profile-dropdown a {
    display: block;
    padding: 8px 15px; 
    color: black;
    text-decoration: none;
    transition: background 0.3s ease;
    text-align: center; 
}
.icon {
    width: 2em;
}

header .profile {
    position: relative;
}

header .profile button {
    background-color: #4d65b4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header .profile .profile-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
}

header .profile:hover .profile-dropdown {
    display: block;
}

header .profile .profile-dropdown li {
    list-style: none;
    border-bottom: 1px solid #ccc;
}

header .profile .profile-dropdown li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

header .profile .profile-dropdown li a:hover {
    background-color: #f0f0f0;
}
