
.highlight {
    color: #ff69b4; 
    text-decoration: none; 
}

.highlight:hover {
    text-decoration: underline; 
}
.footer {
    background-color: #4a4a8a;
    color: white;
    text-align: center;
    padding: 20px;
    padding: 20px 0;
    flex-shrink: 0;
}

.footer-content img {
    width: 100px;
    margin-bottom: 10px;
    
}

.footer p {
    margin: 15px 0;
    color: white;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
}


    
    

  
    
    

   