
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {
    --preto-letras: #000000;
    --rosa-contrastes: #E70D67;
    --linha:#4F4A9D;
    --fundo: #FFFFFF;
}

body {
    height: 100%;
    width: 92%;
    box-sizing: border-box; 
    padding: 5px;
    background-color: var(--fund0);
    color: var(--preto-letras);
    background-size: auto;
    margin-left: 1%;
} 

.primeira__container__rede {
    margin-top: 10%;
    max-width: 100px;
    max-height: 800px;
    width: auto;  
}

.primeira__container-ancora {
    margin-top: 10%;
    width: 100px;
    height: 400px;
}

span {
    color:#E70D67;
}

.primeira {
    display: flex;
    align-items: center;
    margin: 0%;
}
.primeira__conteudo__texto-centro {
    max-width:800px;
    height: 200px;
    width: auto;
    display: flex;
    justify-content: space-between;
}
.primeira__conteudo {
    width: 400px;
    height: 450px;
    margin-left: 3%;
    justify-content: center;
}

.primeira__conteudo__frase-inicial {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    width: 800px;
}

.linha__linha {
    width: 650px;
    margin-top: 20%;
   
}
.primeira__conteudo__paragrafo {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin-top: 8%;
    width: 600px;
}

.primeira__imagem {
    max-width: 400px;
    margin-left: 100%;

}

.container__ampulheta {
    width: 300%;
    margin-top: 1600%;
    display: flex;
    align-items: flex-end;
}
.container__rodape {
    margin-right: 5000%;
    margin-top: 100%;
    width: 200%;

}

.segunda {
    margin: 5% 0% 10% 0%;


}
.segundo-titulo {
    width: 80%;
    margin-left: 13%;
}

.subtitulo {
    width: 55%;
    margin-left: 25%;
    margin-top: 2%;
}

.caixas-de-texto {
    margin: 0% 2% 0% 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 10%;

}