main {
  align-items: center;
}
#servicesGrid {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 30px 0;
}

.serviceCategory {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: relative;
}
.categoryImg {
  width: 100%;
  position: relative;
  z-index: -1;
  cursor: pointer;
}

.serviceInfo {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(159, 155, 182, 1) 0%,
    rgba(74, 70, 122, 1) 50%
  );
  border-radius: 40px;
  color: #fff;
  text-align: center;
  padding: 20px 15px 33px;
  cursor: pointer;
}

.serviceTitle {
  font-family: "Emblema", sans-serif;
  font-size: 23px;
  text-transform: uppercase;
}

.serviceDescription {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}

.buttonArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pageText {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #7277a0;
  text-align: center;
}

@media (max-width: 1200px) {
  #servicesGrid {
    width: 100%;
  }
  .serviceCategory {
    width: 45%;
  }
}

@media (max-width: 900px) {
  #servicesGrid {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .serviceCategory {
    width: 95%;
  }
}
